In [ ]:
#this script is used to create the table weekday_stop_time_fixed used in other scripts
#weekday_stop_time_fixed table will have added columnes to be used for creating trip_table_fixed

In [1]:
import pandas as pd
pd.set_option('max_colwidth', 200)
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.colors as pltc
import seaborn as sns 
sns.set()
import os
from os import listdir
from os.path import isfile, join
import csv
import numpy as np
%matplotlib inline
from random import sample
from math import sin, cos, sqrt, atan2, radians, acos
import numpy as np
import math
import copy
import time
from datetime import datetime, timedelta

In [2]:
#stop_times table only weekday schedules
weekday_stop_time_fix =  pd.read_csv(r'weekday_stop_time_fix.csv', sep=",", engine='python')
weekday_stop_time_fix.head()

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled,arrival_time_:,departure_time_:
0,884475,1,2561,0,1,9:57:00,9:57:00,1,CAPITOL SQUARE,0.0210,95700,95700
1,884475,2,2605,0,0,9:57:55,9:57:55,0,CAPITOL SQUARE,0.1979,95755,95755
2,884475,3,2717,0,0,9:58:51,9:58:51,0,CAPITOL SQUARE,0.3775,95851,95851
3,884475,4,2921,0,0,9:59:51,9:59:51,0,CAPITOL SQUARE,0.5692,95951,95951
4,884475,5,133,0,0,10:01:00,10:01:00,1,CAPITOL SQUARE,0.7875,100100,100100

In [3]:
weekday_stop_time_fix['time_diff']=''
weekday_stop_time_fix['seq'] = ''
weekday_stop_time_fix['total_time'] = 0
list_of_stops = weekday_stop_time_fix['stop_id'].unique()

In [4]:
weekday_stop_time_fix['arrival_time_fix'] = (weekday_stop_time_fix['arrival_time'].str.replace(':', '')).astype(int)
weekday_stop_time_fix['departure_time_fix'] = (weekday_stop_time_fix['departure_time'].str.replace(':', '')).astype(int)

In [5]:
#This secotion will take a long time(maybe an hour or longer). It iterates every single row 
list_of_time = [] 
for index, row in weekday_stop_time_fix.iterrows():
    fixed_time_a = row['arrival_time']
    fixed_time_a = fixed_time_a.split(':')
    fixed_time_a = int(fixed_time_a[0])*60*60+int(fixed_time_a[1])*60+int(fixed_time_a[2])
    weekday_stop_time_fix.loc[index,'arrival_time_fix']= fixed_time_a
    
    fixed_time_d = row['departure_time']
    fixed_time_d = fixed_time_d.split(':')
    fixed_time_d = int(fixed_time_d[0])*60*60+int(fixed_time_d[1])*60+int(fixed_time_d[2])
    weekday_stop_time_fix.loc[index,'departure_time_fix']= fixed_time_d
    
#     list_of_time.append(fixed_time)
# pd.to_datetime(list_of_time).time

In [9]:
weekday_stop_time_fix.head()

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled,arrival_time_:,departure_time_:,time_diff,seq,total_time,arrival_time_fix,departure_time_fix
0,884475,1,2561,0,1,9:57:00,9:57:00,1,CAPITOL SQUARE,0.0210,95700,95700,,,0,35820,35820
1,884475,2,2605,0,0,9:57:55,9:57:55,0,CAPITOL SQUARE,0.1979,95755,95755,,,0,35875,35875
2,884475,3,2717,0,0,9:58:51,9:58:51,0,CAPITOL SQUARE,0.3775,95851,95851,,,0,35931,35931
3,884475,4,2921,0,0,9:59:51,9:59:51,0,CAPITOL SQUARE,0.5692,95951,95951,,,0,35991,35991
4,884475,5,133,0,0,10:01:00,10:01:00,1,CAPITOL SQUARE,0.7875,100100,100100,,,0,36060,36060

In [10]:
weekday_stop_time_fixed = copy.deepcopy(weekday_stop_time_fix)
weekday_stop_time_fixed.to_csv('weekday_stop_time_fixed.csv', encoding='utf-8', index=False)

In [11]:
weekday_stop_time_fixed.head()

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled,arrival_time_:,departure_time_:,time_diff,seq,total_time,arrival_time_fix,departure_time_fix
0,884475,1,2561,0,1,9:57:00,9:57:00,1,CAPITOL SQUARE,0.0210,95700,95700,,,0,35820,35820
1,884475,2,2605,0,0,9:57:55,9:57:55,0,CAPITOL SQUARE,0.1979,95755,95755,,,0,35875,35875
2,884475,3,2717,0,0,9:58:51,9:58:51,0,CAPITOL SQUARE,0.3775,95851,95851,,,0,35931,35931
3,884475,4,2921,0,0,9:59:51,9:59:51,0,CAPITOL SQUARE,0.5692,95951,95951,,,0,35991,35991
4,884475,5,133,0,0,10:01:00,10:01:00,1,CAPITOL SQUARE,0.7875,100100,100100,,,0,36060,36060